name: Release

on:
  push:
    branches:
      - main

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  release:
    runs-on: ubuntu-latest
    concurrency: release
    permissions:
      id-token: write
      contents: write
      packages: write

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Install python-semantic-release
        run: pip install python-semantic-release

      - name: Get current version
        id: before
        run: echo "version=$(grep -Po '^version = \"\K[^\"]+' pyproject.toml)" >> "$GITHUB_OUTPUT"

      - name: Semantic Release
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: semantic-release version --push --changelog --vcs-release || true

      - name: Get new version
        id: after
        run: |
          git pull --tags
          VERSION=$(grep -Po '^version = \"\K[^\"]+' pyproject.toml)
          echo "version=$VERSION" >> "$GITHUB_OUTPUT"
          if [ "$VERSION" != "${{ steps.before.outputs.version }}" ]; then
            echo "released=true" >> "$GITHUB_OUTPUT"
          else
            echo "released=false" >> "$GITHUB_OUTPUT"
          fi

      - name: Set up QEMU
        if: steps.after.outputs.released == 'true'
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        if: steps.after.outputs.released == 'true'
        uses: docker/setup-buildx-action@v3

      - name: Log in to Container Registry
        if: steps.after.outputs.released == 'true'
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata
        if: steps.after.outputs.released == 'true'
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=semver,pattern={{version}},value=v${{ steps.after.outputs.version }}
            type=semver,pattern={{major}}.{{minor}},value=v${{ steps.after.outputs.version }}
            type=semver,pattern={{major}},value=v${{ steps.after.outputs.version }}
            type=raw,value=latest

      - name: Build and push
        if: steps.after.outputs.released == 'true'
        uses: docker/build-push-action@v6
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
